@inherits LayoutComponentBase
@inject NavigationManager NavManager

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
  <MudAppBar Elevation="1">
    <MudText Typo="Typo.button">Komsy</MudText>

    <MudSpacer />
    <div hidden="@IsLoginPage">
      <MudButton style="color: white;" OnClick="GoToLogin" Edge="Edge.End">
        @Lang.GetText(TextEnum.SingIn)</MudButton>
    </div>

    <div hidden="@SingInVisible">
      <MudButton style="color: white;" OnClick="GoToSignUp" Edge="Edge.End">
        @Lang.GetText(TextEnum.SignUp)</MudButton>
    </div>
  </MudAppBar>

  <MudMainContent class="mt-2">
    @Body
  </MudMainContent>

</MudLayout>



@code {

  bool SingInVisible => !IsLoginPage;
  bool IsLoginPage => NavManager.Uri.Contains("login");

  public async Task GoToLogin()
  {
    NavManager.NavigateTo("/login");

  }

  public async Task GoToSignUp()
  {
    NavManager.NavigateTo("/SignUp");

  }


}
